{
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "githubUrl": "https://github.com",
        "githubApiPathPrefix": "/api/v3"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "./ci/publish-go-module.sh v${nextRelease.version}"
      }
    ]
  ]
}
